<div class="row">
  
    <h3 class="center">Waiters Roster</h3>
    <p class="col 4">Page showing people that are going to be available on that particular day.</p>

  <div class="col 8">
    <a href="/reset" class="btn waves-effect darken-2  right " type="" name="reset">Reset</a>
  <a href="/"><i class="fas fa-home small roster home  right top"></i></a>
  </div>


</div>

{{!-- <div class="row right "> --}}

{{!-- </div> --}}

<table class="col 12">

  {{#each shifts}}
  <tr class="col 12 {{colour}}">
    <th class="col 6" value="{{dayName}}">{{dayName}}</th>
    {{#each waiters}}
    <!-- Andina key that's why ndi sebenzise uTHis -->
    <td class="col 2" value="{{this}}">{{this}}</td>
    {{/each}}
  </tr>
  {{/each}}

  </table>


