<div class="row">

  <h3 class="center">Waiters Roster</h3>
  <p class="col 4">Page showing people that are going to be available on that particular day.</p>

  <div class="col 8">
    {{!-- <a href="/reset" class="btn waves-effect darken-2  right " type="" name="reset">Reset</a> --}}
    <a href="/"><i class="fas fa-home small roster home  right top"></i></a>
    <a href="/reset"><i class="fa fa-trash small btn waves-effect darken-2  right" aria-hidden="true"></i></a>

  </div>


</div>

{{!-- <table class="col 12">
  <tr>
    {{#each shifts}}
    <td class="col 2 {{color}}" value="{{dayName}}">{{dayName}}</td>
    {{/each}}
  </tr>

  <tr>
    {{#each shifts}}
    <td class="day-waiters">
      {{#each waiters}} 
      <tr>
        <td>{{this}}</td>
      </tr>
       {{/each}} 
    </td>
    {{/each}}
  </tr>
</table> --}}

  
<div class="row">
 {{#each shifts}}
  <div style="
    display:table-cell;
    border:1px solid #ccc;
    width:100%;
    max-width:90%;
    padding: 1rem;
    margin-right: 0.5rem;" 
    class="row {{colour}}">
    
    <h5>{{dayName}}</h5>
    {{#each waiters}}
    <p>{{this}}</p>
    {{/each}}
  </div>
  {{/each}}
  
</div>

 

{{!-- {
  dayName: "monday",
  waiters: ['Amanda', 'Mzwa']
} --}}



</div>