<div class="row">
  <div class="">
    <h3>Waiters Roster</h3>
    <small>Page showing people that are going to be available on that particular day.</small>
  </div>
</div>

<table class="col 12">

  {{#each shifts}}
  <tr class="col 12">
    <th class="col 2 {{colour}}" value="{{dayName}}">{{dayName}}</th>
    {{#each waiters}}
    <!-- Andina key that's why ndi sebenzise uTHis -->
    <td class="col 2" value="{{this}}">{{this}}</td>
    {{/each}}
  </tr>
  {{/each}}

  </table>
  <a href="/reset" class="btn waves-effect darken-2" type="" name="reset">Reset</a>




<a href="/"><i class="fas fa-home"></i></a>
