
<body>
  <div class="row">
  
      <h3 class="center">Waiter App</h3>
     <h5 class="capitalize">{{user}}'s</h5> shift of the day that he'll be available on.
    
  </div>


  <div class="row">

    {{#each shifts}}
      <p class="col 2">
        <label>
          <input type="checkbox" name="checkbox"{{checked}} value="{{days}}"/>
          <span>{{days}}</span>
      </label>
      </p>
    {{/each}}
</div>

    <div class="row">

      <a href="/"><i class="fas fa-arrow-circle-left small col 6"></i></a>
      <a href="/days" class="col 6"><i class="fas fa-users small "></i></a>

   
        <a href="/waiters/{{user}}" formmethod="post" type="submit" class="btn waves-effect green accent-4 col 6" name="enter" >Submit</a>
    


    </div>
</body>
